.logo-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.title-wrap {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 15px;
}

.title-wrap p {
    margin: 0;
}

.masthead {
    width: 100%;
    height: 450px;
}

.masthead .left {
    float: left;
    width: 60%;
    height: 100%;
    background-image: url("../img/RS-AYANI.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.masthead .right {
    float: right;
    width: 40%;
    height: 100%;
    background-color: #0F2830;
}

.content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24%;
    padding-bottom: 24%;
}

.content h4,
p {
    color: #F8FBFF;
}